<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Image Affinity Demo</title>
</head>

<body>
    <div id='frame' style='position: relative; border: 1px solid gray; overflow: hidden; width: 1000px; height: 400px'></div>

    <script id='initial-props' type='application/json+base64'>{{{ props }}}</script>
    <script type='text/javascript' src='/static/bundles/index-{{ APP_VERSION }}.js'></script>
</body>
</html>
